body{
    color:#58355E;
    font-family:Calibri, Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height:1.6em;
    margin:0;
    padding:0;
    background-color:#E5DADA;
}

.pic{
    display:block;
    margin:0;
    padding:0;
}


#menu{
	background-color:#58355E;
	color:#E5DADA;
}

#menu ul{
    padding:0px;
    list-style:none;
    text-align:center;
}

#menu li{
    padding:15px;
    display:inline;
    text-align: center;
}

#menu a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
}

#menu a:hover{
    color:#BF5700;
}

.vse{
    width:80%;
    margin:auto;
    overflow:hidden;
}


#footer{
    font-size:15px;
    background:#A799B7;
    text-align: center;
    color:#E5DADA;
    padding:5px;
    margin-top:30px;
}
